<server description="Liberty server">
    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>appSecurity-3.0</feature>
        <feature>socialLogin-1.0</feature>
    </featureManager>
    
    <okdServiceLogin
    	realmName="okd123" >
	</okdServiceLogin>
    
    <administrator-role>
        <!-- Change "my-namespace" to the name of the namespace for your deployment" -->
        <group-access-id>group:okd123/my-namespace</group-access-id>
    </administrator-role>

    <httpEndpoint host="*" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    
    <webApplication location="starter-app.war" contextRoot="/"/>
</server>
